fire==0.2.1
matplotlib==3.1.0
numpy==1.18.1
pexpect==4.8.0
pydot==1.4.1
pyqtgraph==0.10.0
pyros-genpy==0.6.5
scipy==1.4.1
toml==0.10.1
tqdm==4.47.0
pyzmq==18.1.1
pymap3d==2.4.0
jupyter==1.0
stable_baselines==2.10.0
tensorflow==1.15.0
mpi4py==3.0.3
gym==0.15.6
cloudpickle~=1.2.0
sklearn
modAL==0.3.6
scikit-optimize==0.8.1
dill==0.3.2
toposort==1.5
onnxruntime==1.7.0
